.about-us {
    padding: 100px 0 52px;
}

.about-us__column {
    display: flex;
    column-gap: 80px;
}

.about-us__block {
    margin-bottom: 55px;
}

.about-us__img {
    width: 600px;
    height: 600px;
}

.about-us__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.43;
    margin: 0 0 28px;
}

.about-us__text-two {
    white-space: pre-line;
}

.about-us__text:last-child {
    margin-bottom: 0;
}