.about-us {
    padding: 81px 0 19px;
}

.about-us__block {
    margin-bottom: 70px;
}

.about-us__img {
    float: left;
    margin-right: 80px;
}

.about-us__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 28px;
}

.about-us__text:last-child {
    margin-bottom: 0;
}