.booking {
    background: #440F51;
}

.booking__form {
    display: flex;
    flex-direction: column;
}

.booking__main-set {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 60px;
}

.booking__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    margin-bottom: 40px;
}

.booking__title_type_subtitle {
    text-align: start;
    margin-bottom: 24px;
}

.booking__name-hall {
    cursor: pointer;
    flex: 0 1 250px;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.33;
    text-transform: uppercase;
    padding: 7px 15px;
}

.booking__hall[type=radio]:checked+label {
    border: 1px solid #CD06FF;
    box-shadow: 2px 2px 10px #cd06ff88;
}

.booking__hall[type=radio] {
    display: none;
}

.booking__subset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
}

.booking__name-set {
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    position: relative;
    padding-left: 32px;
}

.booking__name-set:last-child {
    margin-bottom: 0;
}

.booking__name-set input {
    position: absolute;
    top: 6px;
    left: 0;
    transform: scale(2.08);
    margin: 0;
}

.booking__set {
    border: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 60px;
}

.booking__choice {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    justify-content: flex-end;
}

.booking__choice-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.50;
}

.booking__choice-input {
    font-size: 16px;
    line-height: 1.25;
    padding: 15px;
}

.booking__choice-input:not(:last-child) {
    margin-bottom: 14px;
}

.booking__btn {
    background-color: #fff;
    color: #6C0287;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.27;
    text-transform: uppercase;
    padding: 16px 50px;
    max-width: 300px;
    align-self: flex-end;
    margin-right: 49px;
}
