.booking {
    background: #440F51;
}

.booking__form {
    display: flex;
    flex-direction: column;
}

.booking__main-set {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 60px;
}

.booking__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    margin-bottom: 40px;
}

.booking__title_type_subtitle {
    text-align: start;
    margin-bottom: 24px;
}

.booking__name-hall {
    cursor: pointer;
    flex: 0 1 250px;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.33;
    text-transform: uppercase;
    padding: 7px 15px;
}

.booking__input-hall[type=radio]:checked+label {
    border: 3px solid #CD06FF;
}

.booking__input-hall {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking__name-hall:hover {
    border: 3px solid #640AA3;
    background: #EADEED;
}

.booking__name-hall:focus {
    border: 3px solid #640AA3;
    background: #FFF;
}

.booking__name-hall:active {
    border: 3px solid #FFF;
    background: #6C0287;
}

.booking__subset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
}

.booking__name-set {
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    position: relative;
    padding-left: 38px;
}

.booking__name-set:last-child {
    margin-bottom: 0;
}

.booking__set {
    border: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 60px;
}
/* -------- */
.booking__input-console {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    left: 0;
    top: 0;
    cursor: pointer;
}

.booking__input-console:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #ffffff;
    border-radius: 27px;
}

.booking__input-console:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    width: 33px;
    height: 33px;
    border: 1px solid #CD06FF;
    opacity: 0;
}

.booking__input-console:checked:after {
    opacity: 1;
}

/* --------------- */

.booking__input-play {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    left: 0;
    top: 0;
    cursor: pointer;
}

.booking__input-play:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #ffffff;
}

.booking__input-play:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    width: 33px;
    height: 33px;
    border: 1px solid #CD06FF;
    opacity: 0;
}

.booking__input-play:checked:after {
    opacity: 1;
}

/* ---------- */

.booking__choice {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    justify-content: flex-end;
}

.booking__choice-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.50;
}

.booking__choice-input {
    font-size: 16px;
    line-height: 1.25;
    padding: 15px;
}

.booking__choice-input:not(:last-child) {
    margin-bottom: 14px;
}

.booking__btn {
    background-color: #fff;
    color: #6C0287;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.27;
    text-transform: uppercase;
    padding: 16px 50px;
    max-width: 300px;
    align-self: flex-end;
    margin-right: 49px;
}