.choice__block {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    justify-content: flex-end;
}

.choice__row {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    margin-bottom: 35px;
}

.choice__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.50;
}

.choice__input {
    font-size: 16px;
    line-height: 1.15;
    padding: 15px;
    height: 52px;
    width: 100%;
    border: 0;

}

.choice__input:focus {
    border: 2px solid var(--color-primary-lighter, #CD06FF);
}

.choice__input::-webkit-inner-spin-button {
    display: block;
    background-image: url(../image_go/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 15px;
}

.choice__input:not(:last-child) {
    margin-bottom: 14px;
}

.choice__input::placeholder {
    color: #211E1E;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    padding-left: 10px;
}

.choice__input::-webkit-calendar-picker-indicator {
    padding: 0;
    display: block;
    background-image: url(../image_go/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 15px;

}

.choice__input::-webkit-datatime-edit,
.choice__input::-webkit-datatime-edit-fields-wrapper {
    font-size: 16px;
    line-height: 1.25;
}

.choice__input_size_small {
    width: 134px;
    background-image: url(../image_go/arrow.svg);
    background-size: 21px 15px;
    background-repeat: no-repeat;
    background-position: right 16px center;
}

@media (max-width: 1280px) {
    .choice__block {
        flex: 0 1 254px;
    }
}

@media (max-width: 864px) {
    .choice {
        flex-wrap: wrap;
    }

    .choice__block_row {
        flex-direction: row;
        column-gap: 106px;
        flex: 0 1 100%;
        justify-content: space-between;
    }

    .choice__row {
        column-gap: 14px;
    }

    .choice__input {
        width: 300px;
    }

    .choice__input_count_person {
    }

    .choice__input_size_other {
        width: 280px;
    }

    .choice__input_size_small {
        width: 134px;
    }
}

/* @media (max-width: 864px) {
    .choice {
        display: grid;
        grid-template-columns: minmax(200px, 280px) 1fr;
        grid-template-rows: 53px 1fr;
    }

    .choice__block_row {
        grid-column: 1
        grid-row: ;
    }
} */