.contact {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contact__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    column-gap: 20px;
}

.contact__two-column {
    margin-bottom: 10px;
}

.contact__block {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 39px;
}

.contact__text {
    margin-bottom: 42px;
    width: 290px;
    padding-left: 61px;
    background-image: url("../image_go/adress/location.svg");
    background-repeat: no-repeat;
    background-size: 35px 32px;
    background-position: left;
    line-height: 1.3;
    white-space: pre-line;
}

.contact__link {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 61px;
    transition-duration: 0.2s;
}

.contact__link:hover,
.contact__link:focus {
    color: var(--color-primery-lightest, #EADEED);
}

.contact__link:active {
    color: var(--color-primary-lighter, #CD06FF);
}

.contact__link:not(:last-child) {
    margin-bottom: 11px;
}

.contact__link_type_phone {
    background-image: url("../image_go/adress/phone.svg");
    background-repeat: no-repeat;
    background-size: 35px 32px;
    background-position: left;
}

.contact__link_type_email {
    background-image: url("../image_go/adress/mail.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 35px 32px;
    background-position: left;
}

@media (max-width: 1280px) {
    .contact:first-child {
        padding: 40px 0;
    }

    .contact__container {
        margin-bottom: 92px;
    }

    .contact__title {
        margin: 0 auto 26px;
    }

    .contact__text {
        background-size: 26px 26px;
        padding-left: 39px;
    }

    .contact__link {
        padding-left: 39px;
    }

    .contact__link_type_phone {
        background-size: 26px 26px;
    }

    .contact__link_type_email {
        background-size: 26px 26px;
    }
}

@media (max-width: 864px) {
    .contact__container {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 75px;
    }

    .contact__two-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .contact__block {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 27px;
        margin-bottom: 27px;
    }

    .contact__text {
        padding: 0;
        background-position: 57px 3px;
        margin: 0;
    }

    .contact__link:not(:last-child) {
        margin-bottom: 0;
    }
}

@media (max-width: 443px) {
    .contact__container {
        margin-bottom: 63px;
    }

    .contact__block {
        font-size: 14px;
        row-gap: 10px;
        margin-bottom: 10px;
    }

    .contact__two-column {
        margin-bottom: 35px;
    }

    .contact__text {
        white-space: pre-line;
        background-size: 20px 20px;
        background-position: 88px -1px;
    }

    .contact__link {
        padding-left: 29px;
    }

    .contact__link_type_email {
        background-size: 20px 20px;
    }
}

@media (max-width: 350px) {
    .contact:first-child {
        padding: 14px 0;
    }

    .contact__title {
        margin: 0 auto 15px;
    }
}