.contact {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contact__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 156px;
}

.contact__two-column {
    margin-bottom: 10px;
}

.contact__block {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 39px;
}

.contact__text {
    margin-bottom: 33px;
    width: 290px;
    padding-left: 61px;
    background-image: url("../image_go/adress/location.svg");
    background-repeat: no-repeat;
    background-size: 35px 32px;
    background-position: left;
}

.contact__link {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 61px;
    transition-duration: 0.2s;
}

.contact__link:hover, .contact__link:focus {
    color: var(--color-primery-lightest, #EADEED);
}

.contact__link:active {
    color: var(--color-primary-lighter, #CD06FF);
}

.contact__link:not(:last-child) {
    margin-bottom: 11px;
}

.contact__link_type_phone {
    background-image: url("../image_go/adress/phone.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 35px 32px;
    background-position: left;
}

.contact__link_type_email {
    background-image: url("../image_go/adress/mail.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 35px 32px;
    background-position: left;
}