.faq__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.faq__item {
    height: 87px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 136px 0 70px;
}

.faq__item:after {
    content: '';
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 19px;
    right: 70px;
    transition-duration: 0.2s;
}

.faq__item:nth-child(odd) {
    background-color: #fff;
    color: #1C1A1A;
}

.faq__item:nth-child(even) {
    background-color: var(--color-primary-darkest,#440F51);
    color: #fff;
}

.faq__item:nth-child(odd):after {
    background-image: url(../img/elements/open-purple.svg);
}

.faq__item:nth-child(odd):hover:after {
    background-image: url(../image_go/open-purple-hover.svg);
}

.faq__item:nth-child(odd):active:after {
    background-image: url(../image_go/close-purple.svg);
}

.faq__item:nth-child(even):after {
    background-image: url(../img/elements/open.svg);
}

.faq__item:nth-child(even):hover:after {
    background-image: url(../image_go/open-white-hover.svg);
}

.faq__item:nth-child(even):active:after {
    background-image: url(../image_go/close-white.svg);
}

.faq__text {
    font-weight: 700;
    font-size: 24px;
    list-style-type: none;
    line-height: 1.875;
}

@media (max-width: 1280px) {
    .faq__title {
        margin: 0 auto 30px;
    }

    .faq__list {
        row-gap: 16px;
    }

    .faq__item {
        height: 70px;
        padding: 0 91px 0 25px;
        row-gap: 16px;
    }

    .faq__item:after {
        top: 11px;
        right: 25px;
    }

    .faq__item:nth-child(even) {
        background-color: #fff;
        color: #1C1A1A;
    }

    .faq__item:nth-child(even):after {
        background-image: url(../img/elements/open-purple.svg);
    }

    .faq__item_name_popular {
        display: none;
    }

    .faq__text {
        font-size: 20px;
    }
}

@media (max-width: 864px) {
    .faq__item {
        padding: 0 120px 0 54px;
    }

    .faq__item:after {
        right: 64px;
    }

    .faq__title {
        margin: 0 auto 22px;
    }

    .faq__text {
        font-size: 18px;
        line-height: 1.33;
    }
}

@media (max-width: 443px) {
    .faq__list {
        row-gap: 10px;
    }

    .faq__item {
        height: 46px;
        padding: 0 50px 0 10px;
    }

    .faq__item:after {
        width: 30px;
        height: 30px;
        right: 10px;
        top: 8px;
    }

    .faq__text {
        font-size: 12px;
        max-width: 220px;
    }
}

@media (max-width: 350px) {
    .faq__title {
        margin: 0 auto 14px;
    }
}