.faq__list {
    display: flow-root;
}

.faq__item {
    padding: 43px 50px;
}

.faq__item:after {
    content: '';
    width: 47px;
    height: 47px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-top: -24px;
}

.faq__item:nth-child(odd) {
    background-color: #fff;
    color: #1C1A1A;
}

.faq__item:nth-child(even) {
    background-color: #440F51;
    color: #fff;
}

.faq__item:nth-child(odd):after {
    background-image: url(../img/elements/open-purple.svg);
}

.faq__item:nth-child(even):after {
    background-image: url(../img/elements/open.svg);
}

.faq__item:not(:last-child) {
    margin-bottom: 20px;
}

.faq__text {
    font-weight: 700;
    font-size: 24px;
    list-style-type: none;
    line-height: 1.17%;
}