.reviews__container {
    max-width: 1040px;
}

.reviews__item:not(:last-child) {
    margin-bottom: 50px;
}

.reviews__card {
    display: flex;
}

.card__column {
    text-align: center;
    margin-right: 20px;
    z-index: 2;
    position: relative;
    
}

.card__column:after {
    content: '';
    display: block;    
	width: 280px;
	height: 280px;  
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%);
}

.card__img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 50%;
    margin-bottom: 7px;
}


.card__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

.card__text {
    display: inline-block;
    vertical-align: top;
    max-width: 680px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    padding-top: 52px;
}