.set__block {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    align-items: flex-start;
}

.set__title {
    text-align: start;
    margin-bottom: 24px;
}

.set__name {
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    position: relative;
    padding-left: 38px;
}

.set__name:last-child {
    margin-bottom: 0;
}

.set__radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    left: 0;
    top: 0;
    cursor: pointer;
}

.set__radio:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #ffffff;
    border-radius: 27px;
}

.set__radio:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: 17px;
    height: 17px;
    background-color: var(--color-primery-lighter, #CD06FF);
    border-radius: 50%;
    opacity: 0;
}

.set__radio:checked:after {
    opacity: 1;
}

.set__radio:focus:before {
    width: 27px;
    height: 27px;
    outline: 1px solid var(--color-primery-lighter, #CD06FF);
}

.set__radio:disabled:before {
    background-color: #cccccc;
}

.set__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    left: 0;
    top: 0;
    cursor: pointer;
}

.set__checkbox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #ffffff;
}

.set__checkbox:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: 17px;
    height: 17px;
    background-color: var(--color-primery-lighter, #CD06FF);
    opacity: 0;
}

.set__checkbox:focus::before {
    width: 27px;
    height: 27px;
    outline: 1px solid var(--color-primery-lighter, #CD06FF);
}

.set__checkbox:checked:after {
    opacity: 1;
}

.set__checkbox:disabled:before {
    background-color: #cccccc;
}

@media (max-width: 864px) {
    .set {
        flex-wrap: wrap;
        row-gap: 32px;
    }

    .set__name {
        padding-left: 60px;
        margin-bottom: 35px;
    }

    .set__title {
        margin-bottom: 32px;
    }

    .set__checkbox:before {
        top: -8px;
        width: 40px;
        height: 40px;
    }

    .set__checkbox:after {
        width: 30px;
        height: 30px;
        top: -3px;
    }

    .set__checkbox:focus:before {
        width: 40px;
        height: 40px;
        outline: 1px solid var(--color-primery-lighter, #CD06FF);
    }

    .set__radio:before {
        top: -8px;
        width: 40px;
        height: 40px;
    }

    .set__radio:after {
        width: 30px;
        height: 30px;
        top: -3px;
    }

    .set__radio:focus:before {
        width: 40px;
        height: 40px;
        outline: 1px solid var(--color-primery-lighter, #CD06FF);
    }

    .set__block {
        flex: 0 1 300px;
    }
}

@media (max-width: 550px) {
    .set__name {
        font-size: 16px;
        padding-left: 50px;
        margin-bottom: 27px;
    }

    .set__title {
        margin-bottom: 22px;
    }

    .set__checkbox:before {
        top: -8px;
        width: 30px;
        height: 30px;
    }

    .set__checkbox:after {
        width: 20px;
        height: 20px;
    }

    .set__checkbox:focus:before {
        width: 30px;
        height: 30px;
        outline: 1px solid var(--color-primery-lighter, #CD06FF);
    }

    .set__radio:before {
        top: -8px;
        width: 30px;
        height: 30px;
    }

    .set__radio:after {
        width: 20px;
        height: 20px;
    }

    .set__radio:focus:before {
        width: 30px;
        height: 30px;
        outline: 1px solid var(--color-primery-lighter, #CD06FF);
    }
}