.social__list {
    font-size: 0;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
}

.social__item:not(:last-child) {
    margin-right: 26px;
}

.social__link {
    display: block;
    color: #FFFFFF;
    transition-duration: 0.2s;
}

.social__link:hover {
    color: var(--color-primery-lightest, #EADEED);
}

.social__link:focus {
    color: var(--color-primery-lightest, #EADEED);
    outline: 1px solid var(--color-primary-lighter, #CD06FF);
}

.social__link:active {
    color: var(--color-primary-lighter, #CD06FF);
}

@media (max-width: 1280px) {
    .social__link svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 864px) {
    
}

@media (max-width: 443px) {
    .social__item:not(:last-child) {
        margin-right: 20px;
    }
    
    .social__link svg {
        width: 30px;
        height: 30px;
    }
}