.social__list {
    font-size: 0;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
}

.social__item:not(:last-child) {
    margin-right: 26px;
}

.social__link {
    display: block;
    color: #FFFFFF;
    transition-duration: 0.2s;
}

.social__link:hover {
    color: #EADEED;
}

.social__link:focus {
    color: #EADEED;
    outline: 1px solid #CD06FF;
}

.social__link:active {
    color: #CD06FF;
}