@font-face {
    font-family: "Arial Black";
    src: local("Arial-black"), local("Arial Black"),
        url("../font/ariblk.ttf") format("ttf");
    font-weight: 900;
    font-display: swap;
}

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

.section {
    padding: 50px 0;
}

.header {
    padding-top: 30px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: none;
    cursor: pointer;
    width: 58px;
    height: 58px;
    padding: 2px;
    color: #6C0287;
    transition: transform 0.25s;

}

.burger-menu:hover {
    color: #CD06FF;
}

.burger-menu:focus {
    border: 1px solid #CD06FF;
}

.burger-menu:active {
    color: #840AA3;
}

.logo {
    width: 120px;
}

.logo-1024 {
    display: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;
    column-gap: 40px;
}

.navigation__link {
    font-size: 22px;
    line-height: 2.27;
    text-transform: uppercase;
    transition-duration: 0.2s;
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--color-primary-lighter, #CD06FF);
}

.navigation__link:active {
    color: var(--color-primery-lightest, #EADEED);
}

.header__btn {
    height: 55px;
    width: 280px;
    font-size: 22px;
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 700;
    line-height: 1.36;
    text-transform: uppercase;
    border-radius: 10px;
    border: 3px solid var(--color-primary-lighter, #CD06FF);
    transition-duration: 0.2s;
}

.header__btn:hover,
.header__btn:focus {
    border: 3px solid var(--color-primary, #6C0287);
    background: var(--color-primary, #6C0287);
}

.header__btn:active {
    border: 3px solid #000;
    background: var(--color-primary-dark, #640AA3);
}

.title {
    max-width: 870px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 44px;
}

.style-map {
    width: 680px;
    min-height: 274px;
}

.copy {
    display: flex;
    justify-content: space-between;
}

.copy__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.60;
    text-align: end;
}

.copy__link {
    transition-duration: 0.2s;
}

.copy__link:hover,
.copy__link:focus {
    color: #d1c9d2;
}

.copy__link:active {
    color: var(--color-primary-lighter, #CD06FF);
}

/* ---------------------------------------------------------- */

@media (max-width: 1280px) {
    .section:first-child {
        padding: 27px 0 48px;
    }

    .section {
        padding: 35px 0;
    }

    .container {
        max-width: 964px;
    }

    .logo {
        width: 87px;
    }

    .logo-1440 {
        display: none;
    }

    .logo-1024 {
        display: block;
    }

    .navigation__list {
        column-gap: 20px;
    }

    .navigation__link {
        font-size: 18px;
        line-height: 1.22;
    }

    .header__btn {
        font-size: 18px;
        width: 229px;
        height: 45px;
    }

    .title {
        font-size: 30px;
        margin: 0 auto 36px;
        max-width: 653px;
    }

    .style-map {
        max-width: 542px;
        min-height: 274px;
    }
}

@media (max-width: 864px) {
    .section:first-child {
        padding: 18px 0 57px;
    }

    .section {
        padding: 30px 0;
    }

    .container {
        max-width: 745px;
    }

    .burger-menu {
        display: flex;
        align-items: center;
    }

    .navigation {
        display: none;
    }

    .title {
        font-size: 24px;
        margin: 0 auto 30px;
        max-width: 524px;
        line-height: 1.5;
    }

    .style-map {
        max-width: 688px;
        min-height: 337px;
    }
}

@media (max-width: 650px) {
    .section:first-child {
        padding: 20px 0 23px;
    }


    .header__btn {
        display: none;
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 18px;
    }
}

@media (max-width: 423px) {
    .section {
        padding: 15px 0;
    }

    .title {
        font-size: 14px;
        max-width: 304px;
        margin-bottom: 15px;
    }

    .copy {
        flex-direction: column;
        align-items: center;
    }

    .copy__text {
        font-size: 12px;
        text-align: center;
    }

    .copy__text_name_copyright {
        margin-bottom: 10px;
    }

    .copy__text_name_desing {
        margin-bottom: 5px;
    }
}

@media (max-width: 350px) {
    .section:first-child {
        padding: 17px 0 28px;
    }

    .container {
        max-width: 319px;
        padding: 0 20px;
    }

    .header {
        padding-top: 20px;
    }

    .burger-menu {
        width: 41px;
        height: 41px;
    }

    .logo {
        width: 66px;
    }

    .title {
        margin-bottom: 11px;
    }

    .style-map {
        max-width: 280px;
        min-height: 194px;
    }

    .copy__text_name_copyright {
        margin-bottom: 14px;
    }
}