@font-face {
    font-family: "Arial Black";
    src: local("Arial-black"), local("Arial Black"),
        url("../font/ariblk.ttf") format("ttf");
    font-weight: 900;
    font-display: swap;
}

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

.section {
    padding: 50px 0;
}

.section:first-child {
    padding-top: 146px;
}

.header {
    margin-bottom: 100px;
}

.caption {
    font-family: "Arial Black", sans-serif;
    font-size: 150px;
    font-weight: 900;
    letter-spacing: -0.1em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.79;
    padding-left: 100px;
    margin: 0;
}

.hero:after {
    content: '';
    display: block;
    background-image: url("../image_go/hero.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 1180px;
    height: 763px;
    margin: -150px 0 0;
    position: relative;
    z-index: 1;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 60px;
}
.booking {
    margin-bottom: 131px;
}

.about {
    margin-bottom: 69px;
}

.question {
    margin-bottom: 100px;
}

.contacts {
    margin-bottom: 50px;
}