:root {
    --color-primary: #6C0287;
    --color-primery-lightest: #EADEED;
    --color-primary-lighter: #CD06FF;
    --color-primary-light: #840AA3;
    --color-primary-dark: #640AA3;
    --color-primary-darkest: #440F51;
}